<h1>Create New Reminder</h1>
<form class="add-reminder-form" {{action 'createReminder' on="submit" }}>
  <label>
    {{input class='spec-input-title' type="text" placeholder="title" value=title}}
  </label>
  <label>
    {{input class='spec-input-date' type="date" placeholder="date" value=date}}
  </label>
  <label>
    {{input class='spec-input-notes' type="text" placeholder="notes" value=notes}}
  </label>
  <button class='new-reminder-submit'>Submit</button>
</form>
{{outlet}}
