<form {{action 'createReminder' on="submit" }}>
  <h1 class="add-reminder-form">Create New Reminder</h1>
  <label>
    {{input class='spec-input-title' type="text" placeholder="Title" value=title}}
  </label>
  <label>
    {{input class='spec-input-date' type="date" placeholder="Date" value=date}}
  </label>
  <label>
    {{textarea class='spec-input-notes' type="text" placeholder="Notes" value=notes}}
  </label>
  <button class='new-reminder-submit'>Submit</button>
</form>
{{outlet}}
